<div class="main container">

    <!-- description du service -->
    <div class="row m-3">
        <div class="col-lg-6 text-center">
            <h2 class=" m-2">Franny Beauty </h2>
            <h4 class=" m-2">Services de beaute a domicile a la demande</h4>
            <p class="">
                Quisque quis orci eu orci sollicitudin dapibus. Donec et pulvinar purus, faucibus tincidunt mauris. Maecenas lacus risus, consectetur quis ex ac, interdum imperdiet odio. Duis tempus gravida dolor, id fermentum enim sodales eget. In hac habitasse platea dictumst. Phasellus consectetur est scelerisque, semper magna eget, congue enim.
            </p>
            <button  class="btn btn-success">Reserver une prestation</button>
        </div>
        <div class="col-lg-6 text-center">
            <video controls  width="500">
                <source src="../../../assets/flower.webm" type="video/webm" />
            </video>
            <h4 class="m-3">Comment  ca marche ?</h4>
        </div>
    </div>

    <!-- liste des services -->
    <div class="row text-center">
        <div class="col-lg-3 m-4 Coiffure">
            <h2>Coiffure</h2>
        </div>
        <div class="col-lg-3 m-4 maquillage"> 
            <h3>maquillage</h3>  
        </div>
        <div class="col-lg-3 m-4 Onglerie"> <h3>Onglerie</h3> 
        </div>
    </div>

    <!-- liste des services -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Coiffure</h2>
            <p *ngFor="let el of coiffure" >{{el.title}} </p>
        </div>
        <div class="col-lg-4"><h1>Maquillage</h1> 
            <p *ngFor="let el of makeup" >{{el.title}} </p>
        </div>
        <div class="col-lg-4"><h1>Onglerie</h1> 
            <p *ngFor="let el of onglerie" >{{el.title}} </p>
        </div>
    </div>

    <!-- Faq principale -->
    <div class="row">
        <h4>FAQ FOIRE AUX QUESTIONS</h4>
        <div class="card m-2"  *ngFor="let el of faqtrhree">
            <div class="card-body">
                <p class="card-title">
                    <span class="text-muted m-2">{{el.question}}</span>
                    <span class="text-muted m-4">{{el.category}} </span>
                </p>
              <p class="card-text ">{{el.reponse}} </p>
             
            </div>
        </div>
        <a class="btn btn-success" (click)="allFaq()" >Toutes les questions</a>
    </div>

    <!-- les revues -->
    <div class="row">
        <h4>Nos Clients temoignent !</h4>
        <div class="card m-2"  *ngFor="let el of reviewsthree">
            <div class="card-body">
                <p class="card-title">
                    <span class="text-muted m-2">{{el.review_date}}</span>
                    <span class="text-muted m-4">{{el.note}} etoiles</span>
                </p>
              <p class="card-text ">{{el.comment}} </p>
             
            </div>
        </div>
    </div>

</div>