<div class="main my-4 container-fluid">
    <!-- description du service -->
    <div class="row  my-4">
        <div class="col-lg-6 text-center personalize">
            <h4 class="fw-bold">Services beauté personalisée à domicile</h4>  
            <div class="disponibilite">
                <p class="fw-bold"><i class="bi bi-clock"></i></p>
                <h5>Ouverture</h5>
                    <p>Tous les jours de 7h30 - 22h</p>
                    <h5>DISPONIBILITÉS</h5>
                <p> Disponibles 24h/24 et 7j/7</p>
                <!-- Button trigger modal -->
             <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#biblioModal">
                Réserver
            </button> 
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="biblioModal" tabindex="-1" aria-labelledby="biblioModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center fw-bold" id="biblioModalLabel"> Prestation personalisée </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div *ngIf="reservationDone" class="message-sent text-center m-4">
                            Merci d'avoir contacter <span>Franny beauty</span>
                            Votre demande est en cours de traitement.</div>
                        <div class="modal-body form-group my-2" *ngIf="!reservationDone">
                            <form (ngSubmit)="SendNotif()" #sendNotifForm="ngForm" >
                                <label for="contact">Laissez nous votre contact pour un service comme vous voulez quand vous voulez !</label>
                                <input required ngModel #phone="ngModel" class="form-control my-4" type="text" pattern="[0-9]" maxlength="10" placeholder="(+237)">
                                 <button (click)="reservationDone=!reservationDone" [disabled]="sendNotifForm.invalid"  class="btn btn-primary" type="submit">Réserver</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--video explicative -->
        <div class="col-lg-6 text-center personalize">
            <video controls width="500">
                <source src="../../../assets/flower.webm" type="video/webm" />
            </video>
            <h4 class="m-3 fw-bold">Comment ca marche ?</h4>
        </div>
    </div>

    <div class="row prestation_links">
        <h3 class="my-3 text-center">Nos Prestations</h3>
        <div (click)="gotoCoiffure()" class="col-lg-4 Coiffure">
            <h3>Coiffure</h3>
        </div>
        <div (click)="gotoMaquillage()" class="col-lg-4 maquillage">
            <h3>maquillage</h3>
        </div>
        <div (click)="gotoOnglerie()" class="col-lg-4  Onglerie">
            <h3>Onglerie</h3>
        </div>
    </div>

    <!-- liste des services -->
     <!-- <div class="row text-center prestation_list">
        <div class="col-lg-4">
            <h1>Coiffure</h1>
            <li *ngFor="let el of coiffure"> <a routerLink="/beauty/{{el.category}}/book/{{el.pres_id}}">
                    {{el.title}}</a> </li>
        </div>
        <div class="col-lg-4">
            <h1>Maquillage</h1>
            <li *ngFor="let el of makeup"> <a routerLink="/beauty/{{el.category}}/book/{{el.pres_id}}"> {{el.title}}</a>
            </li>
        </div>
        <div class="col-lg-4">
            <h1>Onglerie</h1>
            <li *ngFor="let el of onglerie"> <a routerLink="/beauty/{{el.category}}/book/{{el.pres_id}}">
                    {{el.title}}</a> </li>
        </div>
    </div> -->

    <!-- Faq principale -->
    <!-- <div class="row">
        <h4>FAQ FOIRE AUX QUESTIONS</h4>
        <div class="card m-2" *ngFor="let el of faqtrhree">
            <div class="card-body">
                <p class="card-title">
                    <span class="text-muted m-2">{{el.question}}</span>
                    <span class="text-muted m-4">{{el.category}} </span>
                </p>
                <p class="card-text ">{{el.reponse}} </p>

            </div>
        </div>
        <a class="btn btn-success" (click)="allFaq()">Toutes les questions</a>
    </div> -->

    <!-- les revues -->
    <!-- <div class="row">
        <h4>Nos Clients temoignent !</h4>
        <div class="card m-2" *ngFor="let el of reviewsthree">
            <div class="card-body">
                <p class="card-title">
                    <span class="text-muted m-2">{{el.review_date}}</span>
                    <span class="text-muted m-4">{{el.note}} etoiles</span>
                </p>
                <p class="card-text ">{{el.comment}} </p>

            </div>
        </div>
    </div> -->

</div>