<div class="main container-fluid">

    <!-- description du service -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Description du service </h2>
        </div>
        <div class="col-lg-6">Video Descriptive </div>
    </div>

    <!-- liste des services -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Coiffure</h2>
            <img src="../../../assets/Hospital.png" alt="">
            <a href="">voir plus</a>
        </div>
        <div class="col-lg-4"> <h1>maquillage</h1>  <img src="../../../assets/Hospital.png" alt=""></div>
        <div class="col-lg-4"> <h1>Onglerie</h1> <img src="../../../assets/Hospital.png" alt=""></div>
    </div>

    <!-- liste des services -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Coiffure</h2>
            <p>toute les coiffure avec leur titre </p>
        </div>
        <div class="col-lg-4"><h1>maquillage</h1> 
            <p>toute les coiffure avec leur titre </p>
        </div>
        <div class="col-lg-4"><h1>Onglerie</h1> 
            <p>toute les coiffure avec leur titre </p>
        </div>
    </div>

    <!-- Faq principale -->
    <div class="row">
        titre des faq en lien pour continuer
    </div>

    <!-- les revues -->
    <div class="row">
        <h1>Les trois plus recentes revues </h1>
    </div>

</div>