
<div class="searchFormClass col-lg-4 search-bar">
    <form #searchbeautifyer="ngForm"
    (ngSubmit)="searchBeautifyerTerm(searchbeautifyer.value)"
    class="d-inline">
        <div class="form-group">
            <input id="search" class="beauty-search" minlength="5" name="search" required ngModel #search="ngModel" placeholder="Search..."
                type="text">
            <button [disabled]="!searchbeautifyer.valid" class="btn mx-2" type="submit">Search</button>
        </div>
    </form>
</div>

<section>
  <div class="card my-2 b-card" *ngFor="let el of filteredList">
    <div class="card-body">
        <h5 class="card-title"><span>Franny Recruit No:</span> {{ el.beautifcode }}/{{el.beautif_id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted fs-4 ">Details</h6>
        <p><span>Address: </span>{{ el.ville }}<span class="quartier"> - {{el.quartier}}</span></p>
        <hr>
        <p><span>Name: </span>{{ el.bname }} </p>
        <hr>
        <p><span>Phone:</span> {{el.phone}}</p>
        <hr>
        <p><span>Email:</span> {{el.email}} </p>
        <hr>
        <div>
          <span>Description:</span>
          <p class="card-text">{{el.details}} </p>
        </div>
        <hr>
        <p class="card-text"><span>Responsable:</span> {{el.admin_name}}</p>
        <button (click)="gotoUpdate(el.beautif_id || 1)" class="card-link btn btn-secondary">Update</button>
    </div>
</div>
</section>

