<div class="main container" style="">
    <h1 class="text-center"> BLOG DASHBOARD</h1>
    <div class="dashboard-row">
        <div class="mt-3 mb-3 dashboard-element">
            <div class="div1">
                <div class="img-box">
                    <img src="assets/images/beautifier icon.jfif" alt="">
                </div>
                <p>Total Posts</p>
            </div>
            <p class="card-body"><span>10</span>beautifier(s)</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
            <div class="div1">
                <div class="img-box">
                    <img src="assets/images/prestation icon 2.png" alt="">
                </div>
                <p>Total Feminity</p>
            </div>
            <p class="card-body"><span>10</span> prestations(s)</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
            <div class="div1">
                <div class="img-box">
                    <img src="assets/images/rendezvous 3.png" alt="">
                </div>
                <p>Total Maternity</p>
            </div>
            <p class="card-body"><span>10</span> rendezvous</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
            <div class="div1">
                <div class="img-box">
                    <img src="assets/images/review icon 1.png" alt="">
                </div>
                <p>Total Family</p>
            </div>
            <p class="card-body"><span>10</span> review(s)</p>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="mt-3 mb-3 dashboard-element">
            <div class="div1">
                <div class="img-box">
                    <img src="assets/images/review icon 1.png" alt="">
                </div>
                <p>Total comments</p>
            </div>
            <p class="card-body"><span>10</span> canceled</p>
        </div>
        <div class="dashboard-row">
            <h1 class="text-center">MOST COMMENTED</h1>
            <table class="table">
                top 5 ordered by comments
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>