<div class="main container" style="">
<h1>DASHBOARD</h1>
    <div class="dashboard-row">
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/beautifier icon.jfif" alt="">
            </div>
            <p>Beautifiers</p>
          </div>
          <p class="card-body"><span>10</span> beautifier(s)</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/prestation icon 2.png" alt="">
            </div>
            <p>Prestations</p>
          </div>
          <p class="card-body"><span>10</span> prestations(s)</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/rendezvous 3.png" alt="">
            </div>
            <p>Rendezvous</p>
          </div>
          <p class="card-body"><span>10</span> rendezvous</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Reviews</p>
          </div>
          <p class="card-body"><span>10</span> review(s)</p>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Canceled Rendezvous</p>
          </div>
          <p class="card-body"><span>10</span> canceled</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Ongoing Rendezvous</p>
          </div>
          <p class="card-body"><span>10</span> ongoing</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Scheduled Rendezvous</p>
          </div>
          <p class="card-body"><span>10</span> scheduled</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Completed Rendezvous</p>
          </div>
          <p class="card-body"><span>10</span> completed</p>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
          <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Top 5 Beautifiers</p>
          </div>
          <div class="div2">

            <ul class="list-group">
              <li class="list-group-item">
                <div>
                  <p>Francine</p>
                  <p>10000XAF</p>
                </div>
              </li>
              <li class="list-group-item">
                <div>
                  <p>Alex</p>
                  <p>9000XAF</p>
                </div>
              </li>
              <li class="list-group-item">
                <div>
                  <p>Charles</p>
                  <p>7000XAF</p>
                </div>
              </li>
              <li class="list-group-item">
                <div>
                  <p>Anderson</p>
                  <p>6000XAF</p>
                </div>
              </li>
              <li class="list-group-item">
                <div>
                  <p>Che</p>
                  <p>5000XAF</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-3 mb-3 dashboard-element">
           <div class="div1">
            <div class="img-box">
              <img src="assets/images/review icon 1.png" alt="">
            </div>
            <p>Top 5 Prestations</p>
          </div>
          <div class="div2">
            <ul class="list-group">
              <li class="list-group-item"><p>An item</p></li>
              <li class="list-group-item"><p>A second item</p></li>
              <li class="list-group-item"><p>A third item</p></li>
              <li class="list-group-item"><p>A fourth item</p></li>
              <li class="list-group-item"><p>And a fifth one</p></li>
            </ul>
          </div>
        </div>
    </div>

    <div class="row">
        <h1>Chart</h1>
    </div>
    <div class="dashboard-row">
      <h1>TABLE</h1>
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    </div>

</div>
