<div class="main container">

    <div class="row m-4">
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px; height: 100px;">#beautifyers</div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;">#prestations</div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;">#rendezvous</div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;">#reviews</div>
    </div>

    <div class="row m-4">
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px; height: 100px;">#cancel rdv</div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;">#ongoing rdv </div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;">#scheduled rdv</div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;">#completed rdv</div>
        <div class="col-lg-1 m-3" m-2  style="border: solid #000 1px;  height: 100px;">Top 5 beautif + amount generated</div>
        <div class="col-lg-1 m-3" m-2 style="border: solid #000 1px;  height: 100px;"> top 5 prestation</div>
    </div>

    <div class="row">
        <h1>Chart</h1>
    </div>

</div>
