<div class="my-2 container">
    <h1 class="text-center">Add new review </h1>
    <span id="rateMe1"></span>
    <h4>Good morning: {{values[0]}} </h4>
    <p>Your opignon on your prestation : Date:{{date[0]}}  Heure{{date[1]}} doneby: {{values[1]}}</p>
    <form  #addReviewForm="ngForm" (ngSubmit)="saveUserReview(addReviewForm)">
        <div class="form-group my-2">
            <label for="note">Your rating</label>
            <input class="form-control" type="text" required name="note" id="name" ngModel #note="ngModel" maxlength="1"
                pattern="[1-5]*">
            <small *ngIf="!note['valid'] && note['touched']">Rating is between 1 - 5</small>
        </div>
        <div class="form-group my-2">
            <label for="comment">Your Review</label>
            <textarea name="comment" id="comment" class="form-control" required maxlength="300" ngModel #comment="ngModel"
                placeholder="300 characters max..."></textarea>
            <small *ngIf="!comment['valid'] && comment['touched']">Please add a valid review</small>
        </div>
        <button type="submit" [disabled]="!addReviewForm['valid']" class="btn btn-secondary">Add Review</button>
    </form>

    <p *ngIf="(isuser && isreview)" >Review Successfull. You can now close this window</p>
</div>