<div class="container m-1">
    <div class="row pageheader">
        <div class="col-lg-6">
            <h1 class="text-center display-1"> Réservation: {{prestation.title}}</h1> 
        </div>
        <div class="col-lg-6  text-center">
            <h4 class="text-muted"><i class="bi bi-clock  display-1 mx-5"></i> {{prestation.duration}} Minutes</h4>
            <button type="button" class="btn btn-secondary carrousel-button" data-bs-toggle="modal"
                    data-bs-target="#reservationModal">
                    Réserver | {{prestation.price}} XAF*
            </button>
        </div>
    </div>
    <hr>
    <div class="confirmation-message" *ngIf="showconfirm">
        <h4 class="text-center display-4">Votre rendez-vous a été enregistré</h4>
    </div>

    <div class="row">
        <div class="prestation-infos">
            <div  *ngIf="presAvailable && step<=2">
                <h4 class="classic">Classic | {{prestation.price}} XAF </h4>
                <p class="text-justify">
                    {{prestation.seance}}
                </p>
                <h4 class="gold"> Gold | {{prestation.gold_price}} XAF </h4>
                <p class="text-justify">{{prestation.gold}} </p>
                <h4 class="premium">Premium | {{prestation.premium_price}} XAF </h4>
                <p class="text-justify">{{prestation.premium}} </p>
            </div>
    
            <div class="text-center p-2 promotion" *ngIf="presAvailable && step==3">
                <div>
                    <a type="button my-2"  (click)="downloadAsPdf()" id="downloadAsPdf" class="btn btn-success">Téléchargez la carte</a>
                </div>
                
                <div class="card my-4" style="width: 40rem;">
                    <i class="bi bi-megaphone"></i>
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Jusqua 50% de reduction offert !</h5>
                      <h6></h6>
                      <p class="card-text">
                        Telechargez et collectez 5 carte de rendez-vous.
                        Saissez le code de vos cinq derniers rendez-vous et obtenez jusqua 50% de reduction sur votre prochaine commande
                      </p>
                      <form #couponForm="ngForm" (ngSubmit)="getCoupon()">
                        <div class="form-group my-2"> 
                        <label for="rdvs-code">Code des cinq derniers rendez-vous</label>
                            <input type="text" class="form-control" 
                            required
                            ngModel
                            #rdvs_code="ngModel"
                            maxlength="100" 
                            placeholder="Saisir les codes  de vos cinq derniers rendez-vous"
                            id="rdvs-code">
                            <small *ngIf="rdvs_code.valid && rdvs_code.touched">Please enter
                                your name
                            </small>
                        </div>
                        <button class="btn btn-secondary my-2" type="submit">Obtenir une reduction</button>
                    </form>
                    </div>
                  </div>
            </div>
    
        </div>


    </div>

    
  <!-- Modal  -->
  <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title text-center fw-bold" id="reservationModalLabel"> Prestation personalisée </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div *ngIf="reservationDone" class="message-sent text-center">
              <p class="my-2"> {{ reservation_message }} </p>
                 Merci d'avoir contacter <span>Franny beauty</span>
                   Votre demande est en cours de traitement.
              
             </div>
          <div class="modal-body form-group my-2" *ngIf="!reservationDone" >
              <form (ngSubmit)="onSubmit()" #sendNotifForm="ngForm">
                  <label for="phone">Laissez nous votre contact pour un service comme vous voulez quand vous voulez !</label>
                  <small *ngIf=" phone.touched && phone.invalid">Numero incorrect entrez un chiffre  0 - 9</small>
                  <input required
                   name="phone" 
                   id="phone" 
                   ngModel 
                   #phone="ngModel"
                  class="form-control my-3 pres_perso_form"
                  type="text" pattern="[0-9]*" 
                  maxlength="9" minlength="9"
                  placeholder="(+237)...">
                  <input required
                      name="perso_name" 
                      id="perso_name" 
                      ngModel 
                      #perso_name="ngModel"
                      class="form-control my-3"
                      type="text"
                      maxlength="100" minlength="4"
                      placeholder="Votre Nom...">
                  <!-- <button  [disabled]="!sendNotifForm.valid" style="border: none; background-color: #5DBAE5;"  class="btn btn-primary" type="submit">Réserver</button> -->
              </form>
          </div>
      </div>
  </div>
</div>

  
</div>