<div class="container">
        <div class="form-step-indicator">
            <h1>Prendre un rendez-vous</h1>
            <ul id="progress_bar">
                <li [ngClass]="step==1? 'active':'inactive'" >Informations Personelles</li>
                <li [ngClass]="step==2? 'active':'inactive'" >Details du service</li>
                <li [ngClass]="step==3? 'active':'inactive'" >Confirmation</li>

            </ul> 
        </div>
        <div class="cote-a-cote">
        <div class="col-lg-6 m-1">
        <div class="step_one" *ngIf="step==1">
            <form [formGroup]="personalDetails" id="rdv_form"  >
                <div class="form-group my-2">
                    <label  for="client_name">Votre nom</label>
                    <input type="text" 
                    class="form-control"
                    formControlName="client_name"
                    [ngClass]="{'is-invalid': personal_step && personal['client_name'].errors}"
                    required
                    maxlength="100"
                    placeholder="Entrez votre nom"
                    id="client_name">
                    <!-- <small style="color:red;" *ngIf="!personal['client_name'].errors?.['required']">Please enter your name</small> -->
                </div>
                <div class="form-group">
                    <label for="client_phone">Entrez votre numero de telephone</label>
                    <input type="text"
                     id="client_phone"
                     formControlName="client_phone"
                     maxlength="9"
                     required
                     placeholder="[0-9] -  max 9 characters"
                    pattern="[0-9]*" name="client_phone" class="form-control">
                    <!-- <small *ngIf="!client_phone.valid && client_phone.touched" style="color:red;">Please enter a valid phone number</small> -->
                </div>
                <div class="form-group my-2">
                    <label for="client_email">Entrez votre address email</label>
                    <input class="form-control" 
                    formControlName="client_email"
                    type="email" name="client_email" id="client_email">
                    <!-- <small *ngIf="!client_email.valid && client_email.touched" style="color:red;">Invalid email</small> -->
                </div>
                <div class="location m-2">
                    <div class="form-group m-3">
                        <label for="ville">Quelle ville habitez-vous ?</label>
                        <select class="form-control" 
                        required
                        formControlName="ville"
                        name="ville" id="ville">
                            <option value="" selected>Votre Ville</option>
                            <option value="Yaounde">Yaounde</option>
                        </select>
                        <!-- <small *ngIf="!ville.valid && ville.touched" style="color:red;">Please choose a town</small> -->
                    </div>
                   
                    <div class="form-group m-3">
                        <label for="quartier">Quelle Quartier habitez-vous  ? </label>
                        <select class="form-control"
                        required
                        formControlName="quartier"
                        name="quartier" id="quartier">
                            <option value="" selected>Quartier</option>
                            <option *ngFor="let quartier of AllQuartier" value="{{quartier}}">{{quartier}}</option>
                        </select>
                        <!-- <small *ngIf="!quartier.valid && quartier.touched" style="color:red;">Please choose a your quartiier</small> -->
                    </div>
                </div>
                <input type="button" (click)="nextStep()" [disabled]="!personalDetails['valid']" name="nextStep" class="btn btn-primary  action-button nextStep" value="Suivant">
            </form>
        </div>
        
        <form [formGroup]="serviceDetails" (ngSubmit)="onSubmit()" id="rdv_form" *ngIf="step == 2">
            <div class="form-group my-2">
                <label for="rdvtype">Pour qui prennez-vous rendez-vous</label>
                <select class="form-control" required 
                formControlName="rdvtype" 
                 name="rdvtype" id="rdvtype">
                    <option value="0" selected>Type de rendez-vous</option>
                    <option *ngFor="let element of appointment_type" value="{{element }}">{{element}}</option>
                </select>
                <!-- <small *ngIf="!prestation.valid && prestation.touched" style="color:red;">Please choose a type for your -->
                    <!-- prestation</small> -->
            </div>   
            <div class="seance_desc">
            <div class="form-group my-2">
            <label for="rdv_price">Type de Seance</label>
                <select class="form-control"
                required
                formControlName = "rdv_price"
                name="rdv_price" id="rdv_price">
                <option selected value="0">Choisissez votre seance</option>
                    <option value="{{prestation.price}}">Classic</option>
                    <option value="{{prestation.gold_price}}">Gold</option>
                    <option value="{{prestation.premium_price}}">Premium</option>
                </select>
            </div>
          
            </div>         
            <div class="date_prestation">
                <div class="form-group mx-2">
                <label for="rdvdate">Date du rendez-vous</label>
                <input  class="form-control"
                required
                formControlName="rdvdate"
                placeholder="choose a date"
                type="date" 
                name="rdvdate" id="rdvdate">
                <!-- <small *ngIf="!rdvdate.valid && rdvdate.touched"  style="color:red;">Please choose a date for your appointment</small> -->
            </div>
             <div class="form-group ms-2">
                <label for="rdvdate">Quelle heure vous convient ?</label>
                <input  class="form-control" 
                required
                formControlName="rdvtime"
                placeholder="choose a date"
                type="time" 
                name="rdvtime" id="rdvdate">
                <!-- <small *ngIf="!rdvdate.valid && rdvdate.touched"  style="color:red;">Please choose a date for your appointment</small> -->
            </div>
            </div>
            <div class="form-group my-2">
                <label for="comments">Des Questions?</label>
                <textarea class="form-control"
                id="comments"
                placeholder="Nous sommes a votre ecoute!"
                formControlName="comments"
                name="comments"></textarea>
            </div>
            <input type="button" (click)="previousStep()" name="previousStep" class="btn btn-primary nextStep action-button-previous" value="Etape Precedente">
            <button type="submit" (click)="nextStep()"   [disabled]="!serviceDetails['valid']"  class="btn btn-success m-3">Confirmer</button>
        </form>
        <button (click)="backToPrestation()" *ngIf="step<=2" class="btn btn-danger m-3">Annuler</button>

    
        <div class="confirmation-card" *ngIf="step == 3">
            <h4>Felicitations 🎉🎉🎊 votre rendez-vous est reserve </h4>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Franny Beauty</h4>
                    <h6 class="card-subtitle">Soins de beaute a domicile</h6>
                </div>
                <div class="card-body row">
                    <div class=" m-1">
                        <p> <span class="mx-2"> Mr/Mrs:{{rdvfromServer.client_name}}</span> <span class="m-2">Contact:{{rdvfromServer.phone}} </span></p>
                        <p><span class="mx-2"  >Prestation:{{prestation.title}} </span> <span class="mx-2">Prix:{{rdvfromServer.rdv_price}} </span></p>
                        <p><span class="mx-2">Date:{{rdvfromServer.rdvdate}} </span><span class="mx-2">Heure:{{rdvfromServer.rdvdate}} </span></p>
                        <p><span class="mx-2">Ville:{{rdvfromServer.ville}} </span>/<span class="mx-2">Quartier:{{rdvfromServer.quartier}} </span></p>
                        <p></p>
                    </div>
                    <hr>
                    <div class=" m-1">
                       <h6>QR CODE</h6> 
                        <small>Scannez ce Code pour effectuer le paiement de votre prestation</small>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <h6 class="text-center">Contactez-nous</h6>
                    <p> <span>📱  </span><span>📧  </span></p>
                    <p> <span>Facebook:</span><span>Twitter:</span></p>
                </div>
                <button type="button" class="btn btn-success">Telecharger</button>
            </div>
        </div>
        </div>
       
        <!-- colone de droite -->
        <div class="col-lg-6 prestation-infos m-1" *ngIf="presAvailable">
            <h4 class="text-center">{{prestation.title}}</h4>
            <h6 class="text-muted text-center" >Temp estime:{{prestation.duration}}</h6> 
            <h5>Classique - {{prestation.price}} </h5>
            <p>
                <span>{{prestation.seance}} </span>
            </p>
            <h5> Gold - {{prestation.gold_price}} </h5>
            <p>{{prestation.gold}} </p>
            <h5>Premium - {{prestation.premium_price}} </h5>
            <p>{{prestation.premium}} </p>
        </div>
       
    </div>
</div>
