<div class="container">
    <form action="">
    <div class="form-group m-3 p-2">
        <label for="title">Faq Title</label>
        <input type="text" value="" name="question" id="question" class="form-control" required>
        <label for="category">Category</label>
        <select class="form-select" name="category"  id="category">
          <option selected>Select category</option>
          <option value=""></option>
        </select>
        <label for="reponse">Answer</label>
        <textarea  name="reponse"  id="reponse" class="form-control" required></textarea>  
    </div>
    <button type="submit" class="btn btn-success">Save faq</button>
    </form>
</div>
    