<div class="main">
    <section>
        <div class="card my-2 b-card">
          <div class="card-body">
              <h5 class="card-title"><span>Franny Recruit No:</span> {{ beautif.beautifcode }}/{{beautif.beautif_id}}</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted fs-4 ">Details</h6> -->
              <p><span>Address: </span>{{ beautif.ville }}<span class="quartier"> - {{beautif.quartier}}</span></p>
              <hr>
              <p><span>Name: </span>{{ beautif.bname }} </p>
              <hr>
              <p><span>Phone:</span> {{beautif.phone}}</p>
              <hr>
              <p><span>Email:</span> {{beautif.email}} </p>
              <hr>
              <div>
                <span>Description:</span>
                <p class="card-text">{{beautif.details}} </p>
              </div>
              <hr>
              <p class="card-text"><span>Responsable:</span> {{beautif.admin_name}}</p>
              <button (click)="gotoUpdate(beautif.beautif_id || 1)" class="card-link btn btn-secondary">Update</button>
          </div>
      </div>
      </section>
</div>
