<div class="main container ">
  <div class="spinner-grow text-center" role="status" *ngIf="loading" >
    <span class="sr-only">Loading...</span>
  </div>
    <section>
        <div class="card my-2" *ngIf="!loading" >
          <div class="card-header text-center">
            <h5 class="card-title"><span class="attributes">Franny Recruit No:</span>
              {{ beautif.beautif_id }}/{{beautif.beautif_id}}
             </h5>
          </div>
          <div class="card-body">
              
              <p><span class="attributes">Address: </span>{{ beautif.ville }}<span class="quartier"> - {{beautif.quartier}}</span></p>
              <hr>
              <p><span class="attributes">Name: </span>{{ beautif.bname }} </p>
              <hr>
              <p><span class="attributes">Phone:</span> {{beautif.phone}}</p>
              <hr>
              <p><span class="attributes">Email:</span> {{beautif.email}} </p>
              <hr>
              <p ><span class=" attributes">Responsable: </span> <span>{{beautif.admin_name}}</span> </p>
              <hr/>
              <div>
                <p class="attributes card-text text-center">Details</p>
                <p class="card-text">{{beautif.details}} </p>
              </div>
              <hr>
              <div class="card-footer text-center">
                <button (click)="gotoUpdate(beautif.beautif_id || 1)" class="card-link btn btn-secondary">Update</button>
              </div>
          </div>
      </div>
      <p></p>
      </section>
</div>
