<div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Seance title</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Seance price - seance category</h6>
      <p class="card-text">Seance description </p>
      <p class="card-text">Seance gold description </p>
      <p class="card-text">Seance premium descriptio  </p>
      <a routerLink="" class="card-link btn btn-secondary ">View</a>
      <a routerLink="/beauty/prestations/update" class="card-link btn btn-success">Update</a>
    </div>
  </div>
  