.card-body {
  border: 0.5px solid rgba(128, 128, 128, 0.502);
  border-radius: 8px;
  width: fit-content;
  /* max-width: 50%; */
  /* box-shadow: 0 2px 4px 0 rgba(249, 246, 246, 0.392) !important; */
}
.card-container {
  display: flex !important;
  flex-wrap: wrap;
  border: none !important;
  z-index: -1;
  max-width: 40%;
}
h5 {
  font-weight: bolder;
  font-size: 21px;
}
span {
  font-weight: bold;
  font-size: 21px;
  padding-right: 10px;
  letter-spacing: normal;
  /* color: rgb(211, 14, 211); */
}
p, h6 {
  font-size: 19px;
  letter-spacing: 1.5px;
}
button {
  /* background: purple; */
  color: white;
}
section {
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

