@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  list-style-type: none;
  font-size: 14px;
  font-family: 'FiraSansRegular';
}

.message-sent{
    background-color: rgb(162, 238, 162);
}


/* #5DBAE5(bleu), #F460FC(rose), #196C08(vert), #C7B14A(gold) #AA9225(satin gold) #53534F(gray)*/
h1{
  color:#F460FC ;
  font-weight: bold;
  font-size: 30px;
}
i{
  color:#5DBAE5 ;
  font-weight: bold;
  font-size: 30px;
}

a{
  color:#53534F;
  text-decoration: none;
}
h2{
  color:#5DBAE5 ;
  text-decoration: none;
  font-size: 25px;
}
button:hover{
  color: #fff;
  background-color:#5DBAE5 ;
}
a:hover{
  color:#F460FC ;
  text-decoration: none;
}
td {
  padding: 10px;
}
.btn{
  background-color: #53534F ;
  color:#fff ;
}