<div class="container">
  <div class="message-sent" *ngIf="messageSent">
    <h3 class="text-center">Message sent !</h3>
  </div>
    <div class="row my-5 p-2">
        <div class="col-lg-8 text-justify">
          <h1 class="fw-bold text-center">
            ABOUT US
          </h1>
          <div>
            <p class="main-hero-text">We promote family maternity and feminity</p>
            <p>We focus on protecting the family, empowering women and girls and educating them</p>
            <a href="#contact" class="btn fw-bold">Contact Us</a>
          </div>
        </div>
        <div class="col-lg-3">
          <img class="img img-fluid" src="assets/images/cowomen-ZKHksse8tUU-unsplash (1).jpg" alt="">
        </div>
    </div>


  <section class="body">
    <div class="col-lg-12">
      <h1 class=" text-center fw-bold">OUR MISSION</h1>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias dolorem ea vero
        eius minus corrupti sed excepturi natus, delectus dolorum, sit ad sunt voluptatum suscipit ratione nihil! Magni,
        neque?</p>
    </div>

    <!--Our vision-->
    <div class="row my-5 p-2">
            <div class="col-lg-3">
              <img class="img img-fluid" src="assets/images/luwadlin-bosman-LCwmq67sAmE-unsplash (1).jpg" alt="">
            </div>
            <div class="col-lg-9">
              <h1 class="fw-bold text-center">
                OUR VISION
              </h1>
              <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est
                voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat
                cupiditate inventore.</p>
            </div>
    </div>
    <!--Our impact-->
    <div class="row my-5 p-2">
          <div class="col-lg-9">
            <h1 class="fw-bold text-center">
              OUR IMPACT
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est
              voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat
              cupiditate inventore.</p>
          </div>
          <div class="col-lg-3">
            <img class="img img-fluid" src="assets/images/luwadlin-bosman-LCwmq67sAmE-unsplash (1).jpg" alt="">
          </div>
    </div>

    <!--problems we are solving  -->
    <div class="row my-5 p-2">
      <div class="col-lg-3 text-center">
        <img class="img img-fluid" src="assets/images/luwadlin-bosman-LCwmq67sAmE-unsplash (1).jpg" alt="">
      </div>
      <div class="col-lg-9">
        <h1 class="fw-bold text-center">
          PROBLEMS WE ARE SOLVING
        </h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est
          voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat
          cupiditate inventore.</p>
      </div>
    </div>

    <!--Our core value -->
    <div class="row my-5 p-2">
      <div class="col-lg-9">
        <h1 class="fw-bold text-center">
          OUR CORE VALUES
        </h1>
        <p class="hero-body-header">we educate woman...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est
          voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat
          cupiditate inventore.</p>
      </div>
      <div class="col-lg-3 ">
        <img class="img img-fluid" src="assets/images/luwadlin-bosman-LCwmq67sAmE-unsplash (1).jpg" alt="">
      </div>
    </div>

    <div class="m-3">
      <h1 class="text-center fw-bold">We Adhere to the economic sustainability standars</h1>
      <p class="text-center my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
        consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias dolorem ea
        vero eius minus corrupti sed excepturi natus, delectus dolorum, sit ad sunt voluptatum suscipit ratione nihil!
        Magni, neque?</p>
    </div>

  </section>
  <section id="contact" class="row  m-2">
    <div class="my-2 text-center">
      <h1 class="text-center fw-bold  m-2 p-3">Contactez-Nous</h1>
      <form (ngSubmit)="sendMessage()" [formGroup]="emailInfos">
        <div class="form-group">
          <input type="from" formControlName="from" class="form-control m-1" id="from" aria-describedby="email"
            placeholder="votre email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email</small> -->
        </div>
        <div class="form-group my-2">
          <textarea class="form-control m-1" id="text" placeholder="Nous sommes a votre ecoute!" formControlName="text"
            name="text"></textarea>
        </div>
        <button [disabled]="!emailInfos['valid']" type="submit" class="btn my-2 fw-bold">Envoyer</button>
      </form>
    </div>

    <div class="col-lg-12  social-link p-2">
      <h4 class="text-center fw-bold m-2 p-2">Rejoignez nous sur les Reseaux</h4>
            <ul class="social_links text-center">
              <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i> </a></li>
              <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a> </li>
              <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-x"></i> </a></li>
              <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a> </li>
              <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a> </li>
              <!-- <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-phone"></i></a> </li>  -->
           </ul>       
    </div>
  </section>
</div>