<div class="container">
    <div class="message-sent" *ngIf="messageSent" >
        <h3 class="text-center">Message sent !</h3>
    </div>

    <h1>
        Who we are
    </h1>
    <p>
        - WHat we area web application
        - we promote family maternity feminity
        - we focus on protect the family , empower woman and girls and educate the girl and the woman
    </p>
    
    <h1>What we do </h1>
    <p>
        we educate woman...
        blog
        beauty
        service de beaute a domicile
        service d'entretiens a domicile
        placement d'aide a domicile
    </p>
    
    <h3>Our Missionn</h3>
    <p>Our mission is to ...</p>
    <h4>Our Vision</h4>
    <p>Our vision is to ...</p>
    
    <h4>
        Problem we are solving
    
    </h4>
    <p>
        Unemployment
        Poor inclusion
        gender based violence
        women autonomisation
        misinformation
    </p>
    
    <h4> Our Impact </h4>
    <p>
        - Reducing poverty within the woman
        -Autonomiser les femmes rurales
    </p>
    
    <h5>Our Core Value
    </h5>
    <p> - collab, innovation.
    </p>
    
    <p> we adhere to the economic sustainabiity standard</p>
    
    <div class="row">
        <div class="col-lg-6">
            <h4>Contact us</h4>
            <form (ngSubmit)="sendMessage()" [formGroup]="emailInfos" >
                <div class="form-group">
                  <label for="from">Email address</label>
                  <input type="from" formControlName="from" class="form-control" id="from" aria-describedby="email" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group my-2">
                    <label for="text">Des Questions?</label>
                    <textarea class="form-control"
                    id="text"
                    placeholder="Nous sommes a votre ecoute!"
                    formControlName="text"
                    name="text"></textarea>
                </div>
                <button [disabled]="!emailInfos['valid']" type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
