<div class="container">
    <div class="message-sent" *ngIf="messageSent" >
        <h3 class="text-center">Message sent !</h3>
    </div>


    <div class="about-hero">
      <div class="div1">
        <div class="hero-body d-flex flex-column g-0">
          <!-- <h1 class="text-small">
            Who we are
          </h1> -->
          <h1 class="text-small">
            ABOUT US
          </h1>
          <div>
            <p class="main-hero-text">We promote family maternity and feminity</p>
            <p>We focus on protecting the family, empowering women and girls and educating them</p>
            <button class="btn btn-dark">Contact Us</button>
          </div>

          <!-- <ul>
            <li>WHat we area web application</li>
            <li>We promote family maternity feminity</li>
            <li>we focus on protect the family , empower woman and girls and educate the girl and the woman</li>
          </ul> -->
        </div>
        <div class="hero-img">
          <img src="assets/images/cowomen-ZKHksse8tUU-unsplash (1).jpg" alt="">
        </div>
      </div>
    </div>
    <section class="body">
      <div class="about-body d-flex">
        <div class="sec1">
          <img src="assets/images/luwadlin-bosman-LCwmq67sAmE-unsplash (1).jpg" alt="">
        </div>
        <div class="sec">
          <h1 class="text-small">
            WHAT WE DO
          </h1>
          <p class="hero-body-header">we educate woman...</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat cupiditate inventore.</p>
        </div>
      </div>
      <div>
        <P class="text-small text-center fw-bold fs-5">OUR MISSION</P>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias dolorem ea vero eius minus corrupti sed excepturi natus, delectus dolorum, sit ad sunt voluptatum suscipit ratione nihil! Magni, neque?</p>
      </div>
      <div class="about-body d-flex">
        <div class="sec1">
          <img src="assets/images/luwadlin-bosman-LCwmq67sAmE-unsplash (1).jpg" alt="">
        </div>
        <div class="sec">
          <h1 class="text-small">
            OUR VISION
          </h1>
          <p class="hero-body-header">we educate woman...</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quibusdam maiores magnam, quidem modi est voluptatibus at eveniet perspiciatis, nam recusandae sint ducimus ea velit. Voluptatem recusandae repellat cupiditate inventore.</p>
        </div>
      </div>
    </section>
   
    <h1>What we do </h1>
    <p>
        we educate woman...
        blog
        beauty
        service de beaute a domicile
        service d'entretiens a domicile
        placement d'aide a domicile
    </p>

    <h3>Our Missionn</h3>
    <p>Our mission is to ...</p>
    <h4>Our Vision</h4>
    <p>Our vision is to ...</p>

    <h4>
        Problem we are solving

    </h4>
    <p>
        Unemployment
        Poor inclusion
        gender based violence
        women autonomisation
        misinformation
    </p>

    <h4> Our Impact </h4>
    <p>
        - Reducing poverty within the woman
        -Autonomiser les femmes rurales
    </p>

    <h5>Our Core Value
    </h5>
    <p> - collab, innovation.
    </p>

    <p> we adhere to the economic sustainabiity standard</p>

    <div class="row">
        <div class="col-lg-6">
            <h4>Contact us</h4>
            <form (ngSubmit)="sendMessage()" [formGroup]="emailInfos" >
                <div class="form-group">
                  <label for="from">Email address</label>
                  <input type="from" formControlName="from" class="form-control" id="from" aria-describedby="email" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group my-2">
                    <label for="text">Des Questions?</label>
                    <textarea class="form-control"
                    id="text"
                    placeholder="Nous sommes a votre ecoute!"
                    formControlName="text"
                    name="text"></textarea>
                </div>
                <button [disabled]="!emailInfos['valid']" type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
