

<main class="container" >
    <div class="spinner-grow text-dark" role="status" *ngIf="isloading">
        <span class="sronly sr-only">Loading...</span>
    </div>
    <div class="paiement" *ngIf="!isloading">
        <h3 class="text-center">Bienvenue, {{rdv.client_name}} </h3>

        <p *ngIf="!paid" class="text-center">Vous etes sur le point de Regler votre facture.</p>
        <div class="paid" *ngIf="paid">
            <h4 class="thankyou text-center">
               <span class="title-word-1">Thank you</span>  
               <span class="title-word-2"> for your </span>
               <span class="title-word-3"> payment</span></h4>
            <p *ngIf="(!isauth && paid==true)">You can now close this window</p>
        </div>
        <p class="text-center fw-bold">Montant:{{rdv.rdv_price}} XAF</p>
       
            <form *ngIf="!paid" #paymentForm="ngForm" (ngSubmit)="makeCashPayment(paymentForm)">
                <div class="form-group">
                    <label for="pm">Comment choissez vous de payer?</label>
                    <select name="pm" id="pm" required ngModel #pm="ngModel" class="form-control">
                        <option value="0" [selected] selected>Selectionnez une methode de paiement</option>
                        <option value="Cash">Cash</option>
                        <option value="Mobile">Mobile</option>
                    </select>
                    <!-- <small>*Payment mobile bientot disponible</small> -->
                </div>
                <p class="text-center">
                    <button type="submit" [disabled]="!paymentForm['valid']" class="btn btn-success m-2">Confirmer le
                        paiement</button>
                </p> 
            </form>

    </div>

   
    <button class="btn btn-secondary my-2" *ngIf="isauth" (click)="back()">Back to rendez-vous List</button>

</main>