

small{
    color:red
}

.btn-secondary{
    color: #fff;
    border: none !important;
    background:#53534F !important;
}
.btn-success{
    color: #fff;
    border: none !important;
    background:#5DBAE5 !important;
  }

@media  screen and (max-width:900px) {
   

    .form-container {
        max-width: fit-content;
      }
 }