<footer>
    <div  class="footer container-fluid">
        <div class="row">
            <div class="col-lg-6 text-start px-2 brand-container">
                    <ul class="brand">
                        <li><a class="navbar-brand" routerLink="/posts" >Franny</a></li>
                        <li>Feminity - Maternity - Family</li>
                    </ul>
            </div>
            <div class="col-lg-6 text-lg-end  p-3">
                <ul class="socials text-sm-center">
                    <li class="mx-2"><a href=""><i class="fa fa-brands fa-facebook"></i></a> </li>
                    <li class="mx-2"><a href=""><i class="fa fa-brands fa-twitter"></i></a> </li>
                    <li class="mx-2"><a href=""><i class="fa fa-brands fa-linkedin"></i></a> </li>
                    <li class="mx-2 "><a href=""><i class="fa fa-brands fa-instagram"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>  
</footer>  

